*{
    box-sizing: border-box;
   
}
body{
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
    background-color: ghostwhite;
}
h1{
    font-size: 175%;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bolder;
}
.row{

    width: 100%;
    padding-left:60px;
}
    
.cont{
    justify-content: space-evenly;
    border: 1px solid black;
    background-color: grey;
  border-radius: 6px;
  margin-bottom: 10px;
}
#he1{
    background-color: pink;
}
#he2{
    background-color: red;
}
#he3{
    background-color: yellow;   
}
.he{    
    float: right;
    border: 1px solid;  
    border-radius: 5px;
    width: 150px;
    text-align: center;
    font-size: 125%;
}
p{
    width: 100%;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;

    
    
}
/* .cont1{
margin-right: 10px;} */ 


@media (min-width: 992px){
.col-lg-4{
    width: 30%;
    float: left;
   left:27px;
   margin-left: 30px;
}
}
@media (min-width: 768px) and (max-width: 991px){
.cont{
    float: left;
    width: 43.75%;
    left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 300px;
}
.col-md-12{
    margin:0;
    margin-top: 20px;
     width: 90.5%;
     height: 150px;
     left: 46px;
     position: 0;

}
}



@media (max-width: 767px){
.col-sm-12{
clear: left;
width: 82%;
margin-bottom: 20px;
height: 350px;
}
}